amqp==5.0.6
asgiref==3.3.4
backcall==0.2.0
billiard==3.6.4.0
boto3==1.17.57
botocore==1.20.57
celery==5.0.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
decorator==5.0.7
Django==3.2.3
django-cors-headers==3.7.0
django-db-multitenant==0.3.2
django-filter==2.4.0
django-model-utils==4.1.1
django-notifications-hq==1.6.0
django-storages==1.11.1
djangorestframework==3.12.4
gunicorn==20.1.0
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.18.0
jmespath==0.10.0
jsonfield==3.1.0
kombu==5.0.2
mysqlclient==2.0.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.18
ptyprocess==0.7.0
Pygments==2.8.1
python-dateutil==2.8.1
pytz==2021.1
redis==3.5.3
s3transfer==0.4.2
six==1.15.0
sqlparse==0.4.1
swapper==1.1.2.post1
traitlets==5.0.5
urllib3==1.26.4
uWSGI==2.0.19.1
vine==5.0.0
wcwidth==0.2.5